.padding{
    length:10%;
    width:100%;
    color: gainsboro;
}
h1{
    color: red;
}
h3{
    color: khaki;
}
button{
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
hr{
    color: darkgray;
}
body {
    backround-color: red;
}
img{
    width:10%;
}
